<div id = "navbar" >
    <ul class = "navbar"> 
        <li><%= link_to("Home", "/") %></li>              
        <li><%= link_to("Log in", "/log_in") %></li>   
        <li><%= link_to("Sign up", "/sign_up") %></li>       
        <li><%= link_to("Customer Profile", "/customer_profile") %></li>        
        <li><%= link_to("Men", "/men") %></li>        
        <li><%= link_to("Women", "/women") %></li>   

        <% if @user == true %> 
        <li><%= link_to("VIP", "/vip") %></li>      
        <% end %>
        
        <li><%= link_to("Edit Profile", "/edit_profile") %></li>                
        <li><%= link_to("Contact", "/contact") %></li>     
        
    </ul>
</div>