<!DOCTYPE html>
<html>
  <head>
    <title>MeowFinder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li><%= link_to("HOME","/") %></li>
      <li><%= link_to("ADD NEW KITTY","/kittens/new") %></li>      
    </ul>

    <%= yield %>
    <%# params %>                                 <%#Good debugging tool that shows up on each page%>

  </body>
</html>
