<h1><%= @book.title %></h1>
<p><%= @book.author %></p>
<ul>
    <li><%= @book.year %> </li>
    <li><%= @book.pages %> </li>
</ul>

<p><%= @book.synopsis %></p>

<a href = "/books">Back to List </a> <%# TAKES you back to the homepage = books list %>


